
body {
    font-family: 'Archivo', sans-serif;
    margin: 0;
    background: linear-gradient(to bottom, rgb(255, 255, 255), rgb(173, 216, 230), rgb(0, 125, 255));
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 2%;
}

.menu img {
    width: 15%;
    margin-right: 10%;
}

.menu a {
    font-weight: 600;
    text-decoration: none;
    color: black;
}

.menu a.actual {
    color: rgb(243, 140, 1);
}

.menu a:hover {
    color: rgb(243, 140, 1);
}

.custom-button {
    background-color: rgb(243, 140, 1);
    color: rgb(255, 246, 231);
    font-weight: 600;
    border: none;
    border-radius: 7px;
    width: 152px;
    height: 33px;
    font-size: 16px;
}

.custom-button:hover {
    background-color: rgb(0, 125, 255);
    color: white;
}

.todo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
}

.contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    max-width: 1200px;
    background-color: #ffffffbf;
    border-radius: 2%;
    padding: 20px; 
    margin-bottom: 70px;
}


.perfilfoto {
    display: flex;
    align-items: center;
    margin: 1%; 
    width: 80%;
}

.foto img {
    border-radius: 50%;
    border: 3px solid rgb(0, 125, 255);
    width: 60px; 
    height: 60px;
    margin-right: 10px;
    display: flex;
}

.perfil {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 10px; 
    width: 65%;
}

.contenedor h1 {
    color: rgb(0, 125, 255);
    font-size: 30px;
    font-weight: 700;
    margin: 3% 0 0;
}

.perfil h2 {
    color: rgb(243, 140, 1);
    font-size: 20px;
    font-weight: 700;
    margin: 0%;
}

.perfil h4 {
    color: rgb(101, 101, 101);
    font-size: 15px;
    font-weight: 700;
    margin-top: 0.8%;
}

h3 {
    align-self: flex-start;
    margin-left: 19%;
    color: rgb(0, 125, 255);
    font-size: 25px;
    font-weight: 700;
    margin-top: 3%;
}

.datosreal {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.datos {
    display: flex;
    justify-content: space-between;
    gap: 30px; 
    width: 100%;
    padding: 20px 0;
}

.column {
    display: flex;
    flex-direction: column;
    flex: 1; 
    min-width: 300px; 
}

.column:first-child {
    margin-right: 47px;
}

.column label {
    margin-bottom: 5px;
}

.column input {
    margin-bottom: 15px;
    padding: 8px 10px;
    width: 100%;
    border-radius: 8px;
    border: none;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.contras {
    margin-bottom: 15px;
    padding: 8px 10px;
    width: 100%;
    border-radius: 8px;
    border: none;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 13px;
    margin-right: 10px;
}

.info-guar {
    background-color: rgb(0, 125, 255);
    color: rgb(255, 246, 231);
    font-weight: 800;
    border: none;
    border-radius: 15px;
    width: 180px;
    height: 30px;
    text-align: center;
    margin: 20px auto;
    display: block;
    cursor: pointer;
}

.contenedor-centrado {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contraseña {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    gap: 5px;
}

.x {
    display: flex;
    align-items: center;
    gap: 10px; 
}

.contraseña input {
    width: 100%;
    border-radius: 8px;
    padding: 8px 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.contraseña a {
    background-color: rgb(0, 125, 255);
    color: rgb(255, 246, 231);
    font-weight: 800;
    border: none;
    border-radius: 15px;
    width: 110px;
    height: 30px;
    text-align: center;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 70%;
}

.contraseña a:hover {
    background-color: rgb(0, 125, 255);
    color: white;
}
